body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #f58084, #c6a35a, #c65aa9);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;   /* для вього - для того, щоб градієнт фону переміщався у вказаних напрямках (з лівого нижнього кута до верхнього правого кута) */
    }
    100% {
        background-position: 0% 50%;
    }
}  



h1, h2 {
    margin: 20px 0;
}

/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}  */

.img1 {
    border: 6px solid #427247;
    border-radius: 16px;
    padding: 5px;
    margin-left: 40px;
    width: 700px;
    height: auto;
    text-align: left;
}

.block1 {
    padding-top: 30px;
}

.block1, .block2, .block3{
    width: 45%;
    float: left;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}

.block2 {
    border: 6px solid #983b3b;
    border-radius: 16px;
    padding: 20px;
    margin: 30px;
    color: blueviolet;
    max-width: 600px;
    text-align: center;
    max-width: -40%;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 52px;
    float: right;
}

.block3 {
    border: 6px solid #7b4b04;
    border-radius: 16px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
    max-width: 80%;
    max-width: 900px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.img2, .img3, .img4 {
    border: 10px solid #147795;
    border-radius: 16px;
    padding: 5px;
    margin-left: 40px;
    width: 400px;
    height: auto;
    text-align: left;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}

.block4 {
    width: 45%;
    float: left;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.block5 {
    display: flex;
    float: left;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
    margin-left: 120px;
    align-items: center;
    border: 6px solid #983b3b;
    border-radius: 16px;
    padding: 20px;
    color: blueviolet;
    max-width: 600px;
    text-align: center;
    max-width: 80%;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
}

.block6 {
    display: flex;
    float: left;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
    align-items: center;
    border: 6px solid #1f0482;
    border-radius: 16px;
    padding: 20px;
    color: black;
    max-width: 600px;
    text-align: center;
    max-width: 90%;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.img-block7 {
    margin: 20px;
    max-width: 1450px;
    border: 10px solid #5b070d;
    border-radius: 16px;
    padding: 5px;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    border: 6px solid #c3dd17;
    border-radius: 16px;
    float: left;
    padding: 10px;
    margin-left: 45px;
    margin-top: 15px;
    max-height: 10%;
    color: black;
    max-width: 800px;
    text-align: center;
    max-width: 11%;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

